.ContentComponent {
    /* background-color: red; */
    width: 260px;
    /* border: 1px solid #333; */
    display: flex;
    flex: auto;
    flex-direction: column;  
    /* justify-content: space-around; */
    /* gap: 10px; */
    padding-top: 10px;
}
.ContentComponent .Scroll{
    flex: auto;
    overflow-y: auto;
    
    height: 100px;
}
.ContentComponent .Input-Field {
    background-color: orange;
    
}

.ContentComponent ul {
    /* background-color: brown; */
    
}
.ContentComponent li {
    /* background-color: green; */
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin: 10px 0px;
    height: 40px;
}
.ContentComponent .NewButton {
    /* height: 60px; */
    /* background-color: pink */
}
.ContentComponent .Max-Width {
    max-width: 875px;
    width: 100%;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
}
.ContentComponent .Sort-Buttons {
    display: flex;
    justify-content: flex-end;
    
    /* background-color: chartreuse; */
}
.ContentComponent .Footer {
    height: 40px;
    display: flex;
    justify-content: flex-end;
    /* background-color: chartreuse; */
    margin: 0px;
    padding: 0px;
    /* border: 2px solid orange; */
}
.ContentComponent .Margin-Bottom {
    margin-bottom: 10px;
}