.HeaderComponent {
    background-color: #000;
    color: #fff;
    min-height: 40px;
    width: 100%;
    max-height: 50%;
    overflow-y: auto;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: auto; */
    /* text-align: center; */
}
.HeaderComponent .Mono {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0px;
}
.HeaderComponent button {
    border: none;
    background-color: #0000;
    color: red;
    font-size: 30px;
    line-height: 2rem;
    height: auto;
}