.HeaderComponent {
    background-color: #000;
    color: #fff;
    min-height: 40px;
    width: 100%;
    
}
.HeaderComponent .Mono {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0px;
}
.HeaderComponent button {
    border: none;
    background-color: #000;
    color: red;
    font-size: 40px;
}