@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@600&display=swap');

/* colors */

/* default elements */
* {
  box-sizing: border-box;
  border-color: #333;
  padding: 0px;
  margin: 0px;
  line-height: 1.2rem;
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Alumni Sans', sans-serif;
  letter-spacing: 4px;
  font-weight: 500;
  font-size: 16px;
}
input[type=text] {
  background-color: #0000;
  padding: 10px 20px;
  resize: none;
  outline: none;
  text-align: start;
  border: 0px;
}
input[type=text]:hover{
  background-color: #ccc;
}
button {
  background-color: #0000;
  border: 0px;
  padding: 10px 20px;
  min-width: 70px;
}
button:hover {
  background-color: #ccc;
}
li:hover {
  background-color: #ccc;
}
/* specific elements */
.Flex-End {
  display: flex;
  justify-content: flex-end;
}
.Color-Red {
  background-color: red;
}
.Categories {
  display: flex;
  flex-direction: column;
  width: 280px;
}
.Tasks {
  display: flex;
  flex: auto;
  flex-direction: column;
  max-width: 800px;
  margin: 0px auto;
}
.App {
  margin: 0px;
  border: 0px;
  background-color: #F1F1F1;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
}
main {
  /* background-color: #888; */
  display: flex;
  flex: 1;
}
.Border-None {
  border: 0px !important;
}
.Border-Top {
  border-top: 10px solid  !important;
}
.Border-Bottom {
  border-bottom: 1px solid !important;
}
.Border-Right {
  border-right: 1px solid !important;
}
.Text-Button {
  padding: 10px 20px;
  height: 20px;
  align-items: center;
  text-align: center;
}
.Char-Button {
  height: 40px;
  min-width: 40px;
  font-size: 1.2rem;
  display: inline-block;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.Fill {
  flex: auto;
}
.Active {
  background-color: darkseagreen !important;
}
.Active-Text {
  background-color: beige !important;
}
.Button-Danger {
  color: red !important;
}
.Scroll-Y {
  flex: auto;
  overflow-y: auto;
  height: 100px;
}
